{{>header}}
{{>navbar}}
<form action="/" method="post">
         <div class="mb-3">
            <input class="form-control" name="name" placeholder="name" value="{{result.name}}" disabled>
        </div>
      
        <div class="mb-3">
            <button class="btn btn-primary">Search</button>
        </div>
    </form>
{{>footer}}