<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

   <ul>
    <li><a href="http://localhost:3000/"> Add Page</a></li>
    <li><a href="http://localhost:3000/edit"> Edit Page</a></li>
    <li><a href="http://localhost:3000/showAll"> Show All Page</a></li>
    <li><a href="http://localhost:3000/showSingle"> Show Single Page</a></li>
   </ul>
